$title-color: #7EAFDB;
$text-color: #616161;

$font-strong: 'Roboto', sans-serif;
$font-light: 'Source Sans Pro', sans-serif;

$gutter-box: 10px;
$animation-fadein: fadeIn 2s;

$width-mobile: 768px; // for responsive purpose