.progress-bar {
	height: 20px;
  width: 100%;
	background: #555;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);

    &__inner {
        display: block;
        height: 100%;        
        color: #fff;
        line-height: 20px;
        font-size: 12px;
        text-indent: 5px;
        position: relative;
        overflow: hidden;

        .inner-effect{
          display: block;
          background-color: #7EAFDB;
          width: 100%;
          position: absolute;
          height: inherit;
          animation: fill 2s ease-out;
          box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3),
            inset 0 -2px 6px rgba(0,0,0,0.4);
        }
    }

}
