 @import '../../styles/variables';

 .skill-container {
    &__box {
        color: $text-color;

        > div {
            padding-bottom: 5px;
            border-bottom: solid 1px $title-color;
            font-family: $font-strong;
            font-size: .9rem;
        }

        .list-container {
            columns: 2;
            list-style: none;

            li {
                display:inline-block;
                padding:5px;
                width: 100%;
                margin-bottom: 10px;

                > div {
                    font-size: .9rem;
                    margin-bottom: 2px;
                    font-family: $font-light;
                }
            }
        }
    }

    &__title {
        color: $title-color;
        font-family: $font-strong;   
    }
}

@media only screen and (max-width: $width-mobile) {
    .skill-container {
        &__box {          

            > div {
                font-size: 1.4rem;
            }

            .list-container {
                columns: 1;
                padding: 0;
                
                li{
                    > div {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}